* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(100deg, rgb(239, 114, 114) 10%,rgb(30, 244, 176)90% );
    display: flex;
    width : 20rem 20rem;
    align-items : center;
    height: 100vh;
    justify-content : center;
}
.login-container {
    background: white;
    color: black;
    width :20rem;
    padding: 30px 30px;
    border-radius: 7px;
}

.label-container label {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color : #242425;
    display:block;
    font: size 14px;
    height: 16px;
    margin-top: 2px;
    margin-bottom: 5px;
}

input {
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    border : 1px solid black ;
    border-radius:  8px;
    color :rgb(43, 63, 57);
    height: 26px;
    line-height: 30px;
    outline:none !important;
    outline: none;
    padding-left: 5px;
}

form a{
    text-decoration: none;
}

